---
layout: page
---

{% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
{% for yearMonth in postsByYearMonth %}
  <h2>{{ yearMonth.name }}</h2>
  <ul>
    {% for post in yearMonth.items %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% assign sorted_tags = post.tags | sort %}
        {% for tag in sorted_tags %}
        #{{ tag }}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

{% assign source_path = site.author.github.repo | append: "/" | append: page.path %}
<p>Source: <a href="{{ source_path }}">github / {{ page.path }}</a></p>
