---
layout: default
title: Home
---

<section class="hero">
  <b>recent</b>

  {% for post in paginator.posts offset:1 %}
    <p>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </p>
  {% endfor %}
</section>

<div class="lead-post">
  {% for post in paginator.posts limit:1 %}
    <article class="post">
      <h1 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      {{ post.excerpt }}
    </article>
  {% endfor %}
</div>
