---
layout: default
title: Home
---

<div class="lead-post">
  {% for post in paginator.posts limit:1 %}
  <article class="post">
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.excerpt }}
  </article>
  {% endfor %}
</div>

<div class="posts">
  <p>
    <b>recent</b>
  </p>

  <article class="post">
    {% for post in paginator.posts offset:1 %}
    <p class="post-title">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }} - </time>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </p>
  {% endfor %}
  </article>
  <hr/>
</div>
