<!DOCTYPE HTML>
{% include head.html %}
<body>

  <!-- Main Content -->
  <main class="wrapper">
    <!-- Header -->
    <header class="header">
      <h1><a href="{{site.url}}">{{site.title}}</a></h1>
      <small>{{ site.tagline }}</small>
    </header>

    <div class="flex-container">

      <!-- Content -->
      <section class="content">
        {{ content }}
      </section>

      <!-- Sidebar -->
      <aside class="sidebar">
        {% include aside.html %}
        {% include blogroll.html %}
      </aside>

    </div>

    <!-- Footer -->
    <footer class="footer">
      {{ site.time | date: "%Y %d" }}
    </footer>

  </main>

</body>
</html>
