<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
  <link rel="icon" type="image/png" href="/assets/siteicons/favicon.png">
  <link rel="apple-touch-icon" href="/assets/siteicons/apple-touch-icon-precomposed.png">
</head>
<body>

  <!-- Main Content -->
  <main class="wrapper">
    <!-- Header -->
    <header class="header">
      <h1><a href="{{site.url}}">{{site.title}}</a></h1>
      <small>{{ site.tagline }}</small>
    </header>

    <div class="flex-container">

      <!-- Content -->
      <section class="content">
        {{ content }}
      </section>

      <!-- Sidebar -->
      <aside class="sidebar">
        include "blogroll.html"
        include "sidebar.html"
      </aside>

    </div>

    <!-- Footer -->
    <footer class="footer">
      {{ site.time | date: "%Y %d" }}
    </footer>

  </main>

</body>
</html>
